/* Yeoman Generated Styles */
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Bootstrap Overrides */
/* Firefox specific rule; recommended in Bootstrap docs */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.navbar-brand {
    font-size: 16px;
    font-weight: bold;
    padding: 7.5px;
}

.navbar-brand img {
    display: inline-block;
    height: 35px;
}

/* Global Styles */
body {
    -webkit-font-smoothing: antialiased;
    padding-top: 50px;
}

/* Custom Rules */