<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="well well-sm text-center">
                <span class="lead"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Admins</span>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="well well-sm text-right">
                <a href="#/admin/new" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Admin</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Username</th>
                            <th>Password</th>
                            <th class="text-center">Actions</th>
                            <th class="text-center">Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="admin in admins">
                            <th scope="row" class="text-center">{{admin.id}}</th>
                            <td>{{admin.username}}</td>
                            <td>{{admin.password}}</td>
                            <td class="text-center">
                                <button class="btn btn-sm btn-primary">Admin Report</button>
                                <a ng-href="#/admin/{{admin.id}}" class="btn btn-sm btn-warning">Edit Admin</a>
                            </td>
                            <td ng-class="{success: admin.active, warning: !admin.active}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>