<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="well well-sm text-center">
                <span class="lead"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Invoices</span>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="well well-sm text-right">
                <a href="#/invoice/new" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Invoice</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Type</th>
                            <th class="text-center">Trader</th>
                            <th class="text-center">Date</th>
                            <th class="text-right">Cash</th>
                            <th class="text-right">Non-Cash</th>
                            <th class="text-right">Credit</th>
                            <th class="text-right">Discount</th>
                            <th class="text-center">Note</th>
                            <th class="text-center">Added By</th>
                            <th class="text-center">Actions</th>
                            <th class="text-center">Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="invoice in invoices">
                            <th scope="row" class="text-center">{{invoice.id}}</th>
                            <td class="text-center" ng-class="{info: invoice.type === 'purchase'}"><span class="chiclet">{{invoice.type}}</span></td>
                            <td class="text-center">{{invoice.trader}}</td>
                            <td class="text-center">{{invoice.date}}</td>
                            <td class="text-right">{{invoice.cash| currency: '₹'}}</td>
                            <td class="text-right">{{invoice.noncash| currency: '₹'}}</td>
                            <td class="text-right">{{invoice.credit| currency: '₹'}}</td>
                            <td class="text-right">{{invoice.discount| currency: '₹'}}</td>
                            <td class="text-center">{{invoice.note}}</td>
                            <td class="text-center">{{invoice.addedby}}</td>
                            <td class="text-center">
                                <a ng-href="#/invoice/{{invoice.id}}" class="btn btn-sm btn-warning">View Details / Edit</a>
                            </td>
                            <td ng-class="{success: invoice.active, warning: !invoice.active}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>