<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="well well-sm text-center">
                <span class="lead"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Traders</span>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="well well-sm text-right">
                <a href="#/trader/new" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Trader</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Name</th>
                            <th class="text-center">Phone(s)</th>
                            <th class="text-center">Email(s)</th>
                            <th class="text-center">Actions</th>
                            <th class="text-center">Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="trader in traders">
                            <th scope="row" class="text-center">{{trader.id}}</th>
                            <td>{{trader.name}}</td>
                            <td class="text-center">
                                <span ng-repeat="phone in trader.phones"><a class="btn btn-sm btn-default" ng-href="tel:{{phone}}"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{phone}}</a> </span>
                            </td>
                            <td class="text-center">
                                <span ng-repeat="email in trader.emails"><a class="btn btn-sm btn-default" ng-href="mailto:{{email}}"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{email}}</a> </span>
                            </td>
                            <td class="text-center">
                                <button class="btn btn-sm btn-primary">Trader Report</button>
                                <a ng-href="#/trader/{{trader.id}}" class="btn btn-sm btn-warning">Edit Trader</a>
                            </td>
                            <td ng-class="{success: trader.active, warning: !trader.active}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>